{% extends 'layouts/index.html' %}
{% block content%}
<header class="header-list">
    <h2>{{username}}'s list</h2>
    <a href="{% url 'logout' %}" class="a-enter">Logout</a>
</header>
<form action="{% url 'tasks_template' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Write something to do" maxlength="50" class="introduce">
    <input type="submit" class="btn_submit">
</form>
<section class="all">
    <section class="undone">
        {% for task in tasks %}
            {% if not task.done %}
            <article class="todo_item">
                <span>{{task}}</span> 
                <span>
                    <a href="{% url 'state' id=task.id  %}">⬜</a>
                    <a href="{% url 'delete' id=task.id  %}">🗑️</a>
                </span>
            </article>
            {% endif %}
        {% endfor %}
    </section>
    <section class="done">
        <p>Done ({{done_tasks|length}}/{{tasks|length}})</p>
        {% for task in tasks %}
            {% if task.done %}
            <article class="todo_item">
                <span class="task">{{task}}</span>
                <span>
                    <a href="{% url 'state' id=task.id  %}">✔️</a>
                    <a href="{% url 'delete' id=task.id  %}">🗑️</a></li>
                </span>
            </article>
            {% endif %}
        {% endfor %} 
    </section> 
</section>
{% endblock %}
